<!DOCTYPE html>
<html ng-app="app.module" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <title>Hello AngularJS</title>
    </head>
    <body ng-controller="PrenomCtrl">
        <!--
            Concepts :
            1 - services comme $http, des fonctions ou des objets qui sont créés aux préalables
            et qui nous rende un service (requeter le serveur pour $http)
            2 - controller, une fonction constructeur qui fait le lien entre le model et la vue
            3 - injection de dépendance: la fonction controller peut demander un service en paramètres
            d'entrée, il lui sera injecté automatiquement
            4 - annotation, pour pouvoir minifier le JS, il faut annoter les controlleur c'est à dire
            reproduire le nom des services injectés sous la forme de chaine de caractères (dans un tableau)
            5 - module, 1 script = 1 module, et ng-app permet de spécifier le module qui est le point
            d'entrée dans l'app
        -->
        <p>
            Prénom : <input ng-model="prenom">
            <button ng-click="ajouter()">+</button>
        </p>
        <p ng-repeat="prenom in prenoms track by $index">
            Bonjour {{prenom}} <button ng-click="supprimer($index)">-</button>
        </p>
        <script src="node_modules/angular/angular.js"></script>
        <script>
            // Module IIFE (but : avoir une portée de script)
            (function() {
                'use strict';
                // Exercice : au clic du bouton moins, supprimer le contact

                // En création de module les [] sont obligatoires (sinon on est en lecture)
                var module = angular.module('app.module', []);
                module.controller('PrenomCtrl', ['$scope', '$http', function($scope, $http) {
                    $scope.prenoms = [];

                    $http.get('https://randomuser.me/api', {
                        params: {
                            results: 3,
                            nat: 'fr'
                        }
                    }).then(function(res) {
                        $scope.prenoms = res.data.results.map(function(user) {
                            return user.name.first;
                        })
                    }).catch(function(res) {
                        console.log(res);
                    });


                    $scope.ajouter = function() {
                        $scope.prenoms.push($scope.prenom);
                    };

                    $scope.supprimer = function(i) {
                        $scope.prenoms.splice(i, 1);
                    };
                }]);
            }());
        </script>
    </body>
</html>